<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">වින්‍යාසය සුරකින්න</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">නැවත ආරම්භ පැනලය</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab="පුවරු වින්යාසය">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="පැනල නිරීක්ෂණ IP" desc="පෙරනිමියෙන් සියල්ලට සවන් දීමට හිස්ව තබන්න IP，ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="number" title="පැනල් සවන්දීමේ වරාය" desc="ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model.number="allSetting.webPort"></setting-list-item>
                                <setting-list-item type="text" title="පැනල් සහතිකය පොදු යතුරු ගොනු මාර්ගය" desc="එකක් පුරවන්න '/' නිරපේක්ෂ මාර්ගය ආරම්භ වේ，ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" title="පැනල් සහතික යතුරු ගොනු මාර්ගය" desc="එකක් පුරවන්න '/' නිරපේක්ෂ මාර්ගය ආරම්භ වේ，ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" title="පැනලය urlමූල මාර්ගය" desc="විය යුතුයි'/' ආරම්භය '/' අවසානය，ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model="allSetting.webBasePath"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab="පරිශීලක සැකසුම්">
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label="මුල් පරිශීලක නාමය">
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="පැරණි මුරපදය">
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="නව පරිශීලක නාමය">
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="නව මුරපදය">
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">සංශෝධනය කරන්න</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab="xray අදාළ සැකසුම්">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" title="xray වින්යාස ආකෘතිය" desc="මෙම සැකිල්ල මත පදනම්ව, අවසාන xray මානකරන ගොනුව，ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab="TGමතක් කිරීම් සම්බන්ධ සැකසුම්">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="switch" title="ටෙලිග්‍රාම් බොට් සබල කරන්න" desc="ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න"  v-model="allSetting.tgBotEnable"></setting-list-item>
                                <setting-list-item type="text" title="ටෙලිග්‍රාම් බොට්TOKEN" desc="ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න"  v-model="allSetting.tgBotToken"></setting-list-item>
                                <setting-list-item type="number" title="ටෙලිග්‍රාම් බොට් ChatId" desc="ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න"  v-model.number="allSetting.tgBotChatId"></setting-list-item>
                                <setting-list-item type="text" title="ටෙලිග්‍රාම් බොට් දැනුම්දීමේ වේලාව" desc="භාවිතCrontabකාල ආකෘතිය,ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න"  v-model="allSetting.tgRunTime"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="5" tab="වෙනත් සැකසුම්">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="වේලා කලාපය" desc="නියමිත කාර්යය කාල කලාපයේ වේලාව අනුව ක්‍රියාත්මක වේ，ක්රියාත්මක වීමට පැනලය නැවත ආරම්භ කරන්න" v-model="allSetting.timeLocation"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: 'නැවත ආරම්භ පැනලය',
                        content: 'ඔබට පැනලය නැවත ආරම්භ කිරීමට අවශ්‍ය බව විශ්වාසද? OK ක්ලික් කිරීමෙන් සිදුවනු ඇත 3 තත්පර කිහිපයකින් නැවත ආරම්භ කරන්න，නැවත ආරම්භ කිරීමෙන් පසු පැනලයට ප්‍රවේශ විය නොහැකි නම්，පැනල ලොග් තොරතුරු බැලීමට කරුණාකර සේවාදායකය වෙත යන්න',
                        okText: 'ෂුවර්',
                        cancelText: 'අවලංගු කරන්න',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>
